<canvas class="w-full h-full md:h-dvh absolute" id="gradient"></canvas>
<section class="flex w-full h-dvh relative">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mr-auto place-self-center col-span-12 lg:col-span-7">
      <h1
        class="max-w-2xl text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-gray-800">
        Predict your pregnancy risk level</h1>
      <section>
        <div class="space-y-4 mx-auto max-w-2xl py-6">
          <form [formGroup]="formGroup" (ngSubmit)="filtrar()">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              <div class="w-full">
                @let ageInvalid = formGroup.get('Age')?.invalid && formGroup.get('Age')?.touched;
                <label for="Age" class="block mb-2 text-sm font-medium text-gray-900">Age</label>
                <input type="number" [ngClass]="ageInvalid?'border-red-500 text-red-500':''" formControlName="Age" name="Age" id="Age" class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$2999" required="">
                @if(ageInvalid){
                  <p class="text-red-500">This field is required</p>
                }
              </div>
              <div class="w-full">
                @let systolicBPInvalid = formGroup.get('SystolicBP')?.invalid && formGroup.get('SystolicBP')?.touched;
                <label for="SystolicBP" class="block mb-2 text-sm font-medium text-gray-900">SystolicBP</label>
                <input type="number" [ngClass]="systolicBPInvalid?'border-red-500 text-red-500':''" formControlName="SystolicBP" name="SystolicBP" id="SystolicBP" class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$2999" required="">
                @if(systolicBPInvalid){
                  <p class="text-red-500">This field is required</p>
                }
              </div>
              <div class="w-full">
                @let DiastolicBPInvalid = formGroup.get('DiastolicBP')?.invalid && formGroup.get('DiastolicBP')?.touched;
                <label for="DiastolicBP" class="block mb-2 text-sm font-medium text-gray-900">DiastolicBP</label>
                <input type="number" [ngClass]="DiastolicBPInvalid?'border-red-500 text-red-500':''" formControlName="DiastolicBP" name="DiastolicBP" id="DiastolicBP" class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$2999" required="">
                @if(DiastolicBPInvalid){
                  <p class="text-red-500">This field is required</p>
                }
              </div>
              <div>
                @let BSInvalid = formGroup.get('BS')?.invalid && formGroup.get('BS')?.touched;
                <label for="BS" class="block mb-2 text-sm font-medium text-gray-900">BS</label>
                <input type="number" [ngClass]="BSInvalid?'border-red-500 text-red-500':''" formControlName="BS" name="BS" id="BS" class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="12" required="">
                @if(BSInvalid){
                  <p class="text-red-500">This field is required</p>
                }
              </div>
              <div class="w-full">
                @let BodyTempInvalid = formGroup.get('BodyTemp')?.invalid && formGroup.get('BodyTemp')?.touched;
                <label for="BodyTemp" class="block mb-2 text-sm font-medium text-gray-900">BodyTemp</label>
                <input type="number" [ngClass]="BodyTempInvalid?'border-red-500 text-red-500':''" formControlName="BodyTemp" name="BodyTemp" id="BodyTemp" class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$2999" required="">
                @if(BodyTempInvalid){
                  <p class="text-red-500">This field is required</p>
                }
              </div>
              <div class="w-full">
                @let HeartRateInvalid = formGroup.get('HeartRate')?.invalid && formGroup.get('HeartRate')?.touched;
                <label for="HeartRate" class="block mb-2 text-sm font-medium text-gray-900">HeartRate</label>
                <input type="number" [ngClass]="HeartRateInvalid?'border-red-500 text-red-500':''" formControlName="HeartRate" name="HeartRate" id="HeartRate" class="bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$2999" required="">
                @if(HeartRateInvalid){
                  <p class="text-red-500">This field is required</p>
                }
              </div>
            </div>
            <button type="submit" (click)="formGroup.markAllAsTouched()" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-pink-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Send
            </button>
          </form>
          @if(prediction){
            <div class="w-full text-lg px-8 py-4 font-semibold shadow-md shadow-gray-600 rounded-lg flex text-pink-700 items-center">
              <p>Your pregnancy risk level is: <span class="font-bold text-cyan-700">{{prediction}}</span></p>
            </div>
          }
        </div>
      </section>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex lg:h-fit">
      <img src="/woman.png" alt="mockup">
    </div>
  </div>
</section>

